h1 {
    color: #5979f7;
    font-size: 40px;
    font-weight: bold;
}

body {
    font-family: "Andika", Calibri, sans-serif;
    background-color: hsl(44, 91%, 73%);

}

.authorship {
    font-size: 14px;
}

a {
    color: grey;
    font-weight: bold;
}